{
    // preset-env: Identify the working ambient as the browser
    "presets": ["@babel/preset-env"],
    "plugins": [
                "@babel/plugin-transform-async-to-generator",
                "@babel/plugin-proposal-object-rest-spread"
                ]
}